.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container img {

    border: 1px solid seashell;
    border-radius: 30%;
    padding: 15px;

}

.title-writeup {
    color: cornflowerblue;

}

.tests-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 35px;
}

@media screen and (max-width:778px) {
    .tests-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .tests-container {
        grid-template-columns: repeat(1, 1fr);
    }
}