.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 28px;
    padding: 11px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.question h5 {
    margin: 35px 15px;
    font: bold;
    font-size: 30px;
    color: #1b4866;


}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-container {
    border: 1px solid silver;
    border-radius: 25px;
    margin: 50px 90px;

}

.eye {
    width: 35px;
    height: 35px;
    /* margin-left: 95px; */
}